.stopwatch-timer {
    color: #b4c6ef;
    font-size: 100px;
    font-weight: 400;
    margin-top: 90px;
    font-family: 'Orbitron', sans-serif;
    position: relative;
}
.stopwatch-timer,.lap-timer {
    font-family: 'Orbitron', sans-serif;

}

.stopwatch-miliseconds {
    color: #b4c6ef;
    font-size: 30px;
}

.lap-timer {
    color: #2dd4bf;
    font-size: 24px;
    font-weight: 500;
    margin: -10px 0 30px 0;
}

.lap-miliseconds {
    font-size: 14px;
}

.button-container {
    /*border: 1px solid white;*/
    /*width: 528px;*/
    margin: 10px auto;
    display: flex;
    gap: 10px;
}

.button {
    width: 100%;
    height: 48px;
    border-radius: 7px;
    padding: 0 16px;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.hidden {
    display: none;
}

.button:active {
    scale: 0.90;
    transition: 200ms linear;
}

.start-button {
    background-color: #38bdf7;
    /*animation: bubble 0.2s ease-in-out infinite;*/
}

.start-button:hover {
    background-color: rgb(5 166 235);
}

.pause-button {
    background-color: #f4bf51;
}

.continue-button {
    background-color: #2DD4bf;
}

.reset-button {
    background-color: #fb7085;

}

.clear-button {
    background-color: transparent;
    border: 1px solid #fb7085 !important;
    color: #fb7085 !important;
}

.clear-button:hover {
    background-color: #fb7085;
    color: black !important;
}

.lap-button {
    background-color: #818cf8;
}

.lap-button:hover {
    background-color: #3a4af4;
}

.start-button, .pause-button, .continue-button, .lap-button, .reset-button, .clear-button {
    animation: bubble 0.1s cubic-bezier(0.38, 0.24, 0.49, 1.62);
}

.stopwatch-data-title {
    text-align: left;
    color: #B4C6EF;
    margin: 30px 0;
}


@keyframes bubble {
    0% {
        scale: 0.95;
    }
    100% {
        scale: 1;
    }
}

@media screen and (max-width: 768px){
    .lap-timer{
        margin:0 0 30px 0;
    }
}

@media screen and (max-width: 640px){
    .stopwatch-timer {
        font-size: 65px;
    }
}

@media screen and (max-width: 420px){
    .stopwatch-timer {
        font-size: 40px;
    }
}